*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
node_modules
storybook-static
*.local
.DS_Store
.idea
.env
.env.*local
*.log
yalc.lock
.vercel/
.cache
build/
dist/

# Testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
